<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "title", "Title" %></th>
      <th><%= sortable "rating", "Rating" %></th>
      <th><%= sortable "release_date", "Release Date" %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="<%= params[:sort] == 'title' ? "sort-#{params[:direction]}" : '' %>"><%= movie.title %></td>
        <td class="<%= params[:sort] == 'rating' ? "sort-#{params[:direction]}" : '' %>"><%= movie.rating %></td>
        <td class="<%= params[:sort] == 'release_date' ? "sort-#{params[:direction]}" : '' %>"><%= movie.release_date %></td>
        <td>
          <%= link_to "Show", movie_path(movie, sort: params[:sort], direction: params[:direction]) %> |
          <%= link_to "Edit", edit_movie_path(movie, sort: params[:sort], direction: params[:direction]) %> |
          <%= button_to "Destroy", movie_path(movie, sort: params[:sort], direction: params[:direction]), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path(sort: params[:sort], direction: params[:direction]) %>
